.label-tag {
  width: 24px;
  height: 24px;
  border-radius: 6px 0 0 6px;
  position: relative;
}

.label-tag::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 10px solid currentColor;
}

/* bootstrap subtle colors mapping */
.bg-primary-subtle {
  background-color: #eef0ff;
  color: #eef0ff;
}

.bg-pink-subtle {
  background-color: #ffd6ff;
  color: #ffd6ff;
}

.bg-secondary-subtle {
  background-color: #e4e4e4;
  color: #e4e4e4;
}
